*{
    box-sizing: border-box;
}
form{
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
   /* border:1px solid gray;*/
    border-radius:5px;
    box-shadow: 0 0 5px rgb(128, 128, 128);
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(128, 128, 128,0.05);
}
input,label{
    display: block;
}
.message,.contact{
    flex-grow: 1;
    /*border:1px solid red;*/
    padding: 5px;
}
input{
    margin-bottom:5px ;
    width: 100%;
    font-size:1.5em;
}
textarea{
    min-height: 15em;
    width: 100%;
}
button{
    font-size:1.2em;
    border: none;
    border-radius:5px;
    box-shadow: 0 0 5px gray;
    padding: 5px;
    margin-top:10px;
}